.logo {
	width: 95px;
}

.logo-marca {
	width: 150px;
}

.access {
	margin-top: 22px;
}

.login-toolbar {
	position: absolute;
	top: 0;
}

.welcome {
	font-size: 15px;
}

.title {
	margin-left: 13px;
}

.container {
	max-width: 90%;
	margin: 10px auto 0;
}

.icon {
	margin: auto 0;
}

.icon.small {
	font-size: 15px;
}

.icon.middle {
	font-size: 28px;
}

.icon.big {
	font-size: 35px;
}

.card-image {
	width: 60px;
}

.project-name {
	font-size: 35px;
}

.project-name > span {
	margin: 0 20px;
}

.project-card {
	min-width: 300px !important;
	max-width: 385px !important;
}

.box {
	min-width: 500px;
	min-height: 340px;
	padding: 10px;
}

.login-loader {
	min-height: 320px;
}

.step {
	min-width: 300px !important;
	min-height: 392px !important;
}

.step .md-headline {
	font-size: 20px;
}

.step span {
	font-size: 15px;
}

.input-container {
	width: 100%;
	margin: 0;
}

.dialog-content {
	padding: 20px;
}

.md-button {
	height: 45px;
}

.float-button {
	position: fixed; 
	bottom: 5px; 
	right: 5px;
}

button.float-button {
	background: rgb(255,64,129);
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.cwhite, .cwhite span {
	color: white;
}

.bgGray {
	background: #9E9E9E;
}

.deleted {
	background: #E0E0E0;
}

.check {
	color: #4CAF50;
}

.md-role {
	font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,0.54);
}

.users {
	min-height: 310px !important;
	max-height: 310px !important;
	overflow: auto !important;
}

.member-select {
    margin-left: 12px;
}

.member-card {
	min-height: 155px !important;
}

.requirement-card {
	min-width: 300px;
}

.md-req {
	background: #4CAF50 !important;
}

.act-btn {
	min-width: 10px !important;
	min-height: 10px !important;
}

.change-btn {
	margin-top: -10px;
    margin-right: 0;
}


/** States */

.psd {
	color: #9E9E9E;
}

.cri {
	color: #9C27B0;
}

.ini {
	color: #607D8B;
}

.p-hom {
	color: #03A9F4;
}

.n-hom {
	color: #FF5722;
}

.con {
	color: #4CAF50;
}

/** Borders*/

.b-psd {
	border-left: 10px solid #9E9E9E;
}

.b-cri {
	border-left: 10px solid #9C27B0;
}

.b-ini {
	border-left: 10px solid #607D8B;
}

.b-p-hom {
	border-left: 10px solid #03A9F4;
}

.b-n-hom {
	border-left: 10px solid #FF5722;
}

.b-con {
	border-left: 10px solid #4CAF50;
}


/** Subscribed */

.md-nav-bar {
	border-color: transparent !important;
}

.navigation {
	padding-bottom: 15px;
}

.navigation.md-primary {
	background: rgb(63,81,181);
}

.navigation.md-req {
	background: #4CAF50 !important;
}