<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 ng-bind="projeto.nome"></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="card">
				<div class="row">
					<div class="col-md-8">
						<h2 class="card-title">Requisitos</h2>
					</div>
					<div class="col-md-4 text-right">
						<button type="button" ng-click="atualizar()" class="btn btn-sm btn-info">Atualizar</button>
						<a ui-sref="projetos_novo" class="btn btn-sm btn-success">+ Novo</a>
					</div>
				</div>
				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<td>Nome</td>
							<td>Status</td>
							<td>Tarefas</td>
							<td>Índice de Risco</td>
						</tr>
					</thead>
					
					<tbody>
						<tr ng-show="loading">
							<td colspan="4" style="padding:50px"><div class="loader" ng-show="loading">Carregando...</div></td>
						</tr>
						<tr ng-show="requisitos.length == 0">
							<td colspan="4" class="text-center" style="padding:50px">Você não tem nenhum Requisito... ainda! <a ui-sref="requisitos_novo">Vamos começar?</a></td>
						</tr>
						<tr ng-hide="requisitos.length == 0" ng-repeat="req in requisitos">
							<td><a ui-sref="requisitos_dashboard(id:req.id)" ng-bind="::req.nome"></a></td>
							<td><span ng-bind="::req.status"></span></td>
							<td><span ng-bind="::req.tarefas.length"></span></td>
							<td><span ng-bind="::req.indiceRisco"></span></td>
						</tr>
					</tbody>
					
					<tfoot>
						<tr>
							<td>Nome</td>
							<td>Status</td>
							<td>Tarefas</td>
							<td>Índice de Risco</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>