<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Projetos</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<form novalidate name="formNovo" ng-submit="novoProjeto(formNovo, $event)">
				<div class="card">
					<div class="row">
						<div class="col-xs-12">
							<h2 class="card-title">Novo Projeto</h2>
						</div>
					</div>
					
					<div class="form-group">
						<label for="novoProjeto-nome">Nome do Projeto *</label>
						<input type="text" class="form-control" id="novoProjeto-nome" placeholder="Nome do Projeto" required ng-model="projeto.nome">
					</div>
					<div class="form-group">
						<label for="novoProjeto-descricao">Descrição *</label>
						<textarea class="form-control" id="novoProjeto-descricao" placeholder="Descrição do Projeto" required ng-model="projeto.descricao"></textarea>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" ng-model="projeto.congelado"> Projeto Congelado</label>
					</div>
					
					<button type="submit" class="btn btn-primary btn-lg">Criar Projeto</button>
				</div>
			</form>
		</div>
	</div>
</div>