<div ng-init="vm.init()" ng-cloak>
	<div ng-repeat="project in vm.projects">
		<a ui-sref="project({id : project.id, project: project})">{{project.nome}}</a>
		<span><b>Descrição:</b> {{project.descricao}}</span>
		<span><b>Congelado:</b> {{project.congelado}}</span>
	</div>
</div>

<div>
	<form>
		<input type="text" name="name" ng-model="vm.project.nome"/>
		<input type="text" name="description" ng-model="vm.project.descricao"/>
		<input type="checkbox" name="frozen" ng-model="vm.project.congelado"/> Congelado
		<button ng-click="vm.save()">Criar</button>
	</form>
</div>